@import url('https://fonts.googleapis.com/css?family=Lato:700');
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body {
    background-color: #e0e0e0;
}
.nav {
    background-color: #191919;
    padding-top: 18px;
    padding-bottom: 18px;
    box-shadow: 0px 3px 49px -6px rgba(0,0,0,0.75);
}
.navlogo {
    margin-top: -30px;
    margin-bottom: -10px;
}
.nav a {
    font-family: 'Lato', sans-serif;
    color: #b3b3b3;
    text-decoration: none;
    margin-top: -70px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.5em;
}
.nav a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}
.nav li {
    display: inline-block;
}
p {
    font-family: 'Varela Round', sans-serif;
    font-size: 2em;
}